* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
  }

  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 1rem;
      background-color: lightblue;
    color: aliceblue;
  }
      
.card{
    background:url(https://cdn.pixabay.com/photo/2013/07/21/13/00/rose-165819_640.jpg) ;
