* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
  }

  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 1rem;
      
